.article-card .wp-block-post-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.article-card .wp-block-post-title a {
    color: inherit;
    text-decoration: none;
}

.article-card .wp-block-post-title a:hover {
    color: #ab6227;
}

.article-card .wp-block-post-excerpt__excerpt {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.card-hover-animation {
    transition:
        transform .4s ease,
        box-shadow .4s ease;
}

.card-hover-animation:has(.read-more-button:hover) {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0,0,0,.15);
}

.card-hover-animation:has(.read-abstract-btn:hover) {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0,0,0,.15);
}

@media (max-width: 1499px) {
    .stat-card {
        background-color: #f8f6f2;
        color: black;
        border: 2px solid #ab62274f;
        padding: 20px;
        min-height: 80px;
        border-radius: 5px;
    }
}

@media (min-width: 1500px) {
    .stat-card {
        background-color: #f8f6f2;
        border: 2px solid #ab62274f;
        padding: 20px;
        min-height: 160px;
        border-radius: 5px;
    }
}