.faq-dropdown {
    padding: 20px;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid #ab62274f;
}

.faq-dropdown .faq-content {
    font-size: 1rem;
}

.faq-dropdown summary {
    cursor: pointer;
    list-style: none;
}

.faq-dropdown summary::before {
    content: "▶";
    display: inline-block;
    margin-right: .75rem;
    transition: transform .3s ease;
    color: #ab6227;
}

.faq-dropdown[open] summary::before {
    transform: rotate(90deg);
}

.faq-dropdown::details-content {
    overflow: hidden;
    block-size: 0;
    opacity: 0;
    transition: block-size 0.3s ease, content-visibility 0.3s ease, opacity 0.5s ease;
    transition-behavior: allow-discrete;
}

.faq-dropdown[open]::details-content {
    block-size: calc-size(auto, size);
    opacity: 1;
}