.faq-dropdown {
    padding: 20px;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid #ab62274f;
}

.faq-dropdown .faq-content {
    font-size: 1rem;
}

.faq-dropdown summary {
    cursor: pointer;
    list-style: none;
}

.faq-dropdown summary::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .75rem;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #ab6227;
    transition: transform .3s ease;
}

.faq-dropdown[open] summary::before {
    transform: rotate(90deg);
}

.faq-dropdown summary ~ * {
    grid-template-rows: 0fr;
    overflow: hidden;
    opacity: 0;
    transition: grid-template-rows 0.3s ease, opacity 0.3s ease;
}

.faq-dropdown[open] summary ~ * {
    grid-template-rows: 1fr;
    opacity: 1;
}

.faq-dropdown summary ~ * > * {
    overflow: hidden; 
}